/* body{
    background-color: red;
} */

.login-whole-container{
     background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-container{
    background-color: white;
         /* background: #342b2b; */
    width: 90%;
    box-sizing: border-box;
    max-width: 470px;
    padding: 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-fields-login{
     width: 100%;
     height: 45vh;
}
#log-res{
    text-align: center;
    color: red;
}
.input-fields-login input{
     width: 100%;
       
    padding: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 14px;
    /* border: none; */
    /* border-color: white; */
    outline: none;
}
.input-fields-login button{
         width: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    color: white;
    font-size: 17px;
     background-color: #07566b;
}
.input-fields-login h3{
     text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 22px;
}
.login-container p{
      margin-top: 18px;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login-container a{
    text-decoration: underline;
    font-size: 18px;
}
@media (max-width: 768px) {
    .input-fields-login {
        height: 30vh;
    }
       .login-container p {
        margin-top: 65px; /* Adjust as needed */
    }
}
